* {
    scrollbar-size-vertical: 1;
}

StatusBar {
    color: $text-primary;
    background: $primary-muted;
    dock: bottom;
    margin-bottom: 1;
    padding: 0 1;
}

#app-header {
    text-align: center;
    background: $primary-muted;
    color: $text-primary;
    width: 1fr;
}

Home {
    #sidebar {
        width: 25%;
        min-width: 16;
        height: 1fr;
        background: $surface-darken-1 50%;
    }

    FilesPanel {
        border: solid $primary-muted;
        border-title-color: $text-primary;
        background: $surface;
        height: 8;
        & #files-panel-option-list {
            height: 6;
            background: $surface;
        }
        & #files-panel-label {
            text-style: bold;
        }
    }

    BranchesPanel {
        border: solid $primary-muted;
        border-title-color: $text-primary;
        background: $surface;
        height: 8;
        & #branches-panel-option-list {
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
    }

    #body {
        height: 1fr;
    }

    DiffPanel {
        background: $surface;
        width: 1fr;
        border-left: vkey $surface-lighten-1;
        min-height: 1fr;
        text-wrap: nowrap;
    }
    
}

