StatusBar {
    color: $text-primary;
    background: $primary-muted;
    dock: top;
    padding: 0 1;
}

Home {
    #sidebar {
        margin-top: 1;
        dock: left;
        width: 25%;
        min-width: 16;
    }

    FilesPanel {
        border: round $border;
        background: $surface;
        height: 8;
        & #files-panel-option-list {
            height: 6;
            background: $surface;
        }
        & #files-panel-label {
            text-style: bold;
        }
    }

    DiffPanel {
        background: $surface;
        width: 1fr;
        border-left: vkey $surface-lighten-1;
        min-height: 1fr;
    }
    
}

